<a routerLink="../">
  <img src="assets/icons/back__icon.png" alt="" />
  Back
</a>
<h2>Forgot password</h2>
<p>
  Enter the E-mail address associated with your account and we’ll send you an
  E-mail with instructions to reset your password
</p>
<div class="illustration">
  <img src="assets/img/forgot-password.png" alt="" />
</div>
<form [formGroup]="forgotPasswordForm">
  <app-input-box
    name="reset-email"
    placeholder="The address used for reset"
    formControlName="email"
  ></app-input-box>
  <app-button text="Send Instructions"></app-button>
</form>
