<nav class="mobile-menu">
  <ul class="nav__ul">
    <li class="nav__li active">
      <a routerLink="./">
        <img src="assets/icons/rocket__menu.png" alt="" />
        <div>Overview</div>
      </a>
    </li>
    <li class="nav__li">
      <a routerLink="">
        <img src="assets/icons/rocket__menu.png" alt="" />
      </a>
    </li>
    <li class="nav__li">
      <a routerLink="">
        <img src="assets/icons/eye__menu.png" alt="" />
      </a>
    </li>
    <li class="nav__li">
      <a routerLink="">
        <img src="assets/icons/settings__menu.png" alt="" />
      </a>
    </li>
  </ul>
  <button class="add-button purple-gradient">
    <img src="assets/icons/plus-white.png" alt="" />
  </button>
</nav>
