<section class="add-enroller">
  <h2>Add enroller</h2>
  <p>Enter the informations of the new enroller.</p>
  <form class="form" [formGroup]="addEnrollerForm" (submit)="onSubmit()">
    <app-input-box
      label="Name"
      name="name"
      placeholder="Enter the enroller's name"
      formControlName="name"
    ></app-input-box>
    <app-input-box
      label="Email"
      name="email"
      placeholder="Ex: testuser@gmail.com,..."
      type="email"
      formControlName="email"
    ></app-input-box>
    <app-input-box
      label="Phone"
      name="phone"
      placeholder="Format: +99999999"
      type="text"
      formControlName="phone"
    ></app-input-box>
    <app-input-box
      label="Enroller ID"
      name="enrollerID"
      placeholder="Unique ID to login"
      type="text"
      formControlName="enrollerID"
    ></app-input-box>
    <app-input-box
      label="Enroller key"
      name="enrollerKey"
      placeholder="Unique key to login"
      type="text"
      formControlName="enrollerKey"
    ></app-input-box>

    <div class="btn__ctr">
      <app-button text="Create Enroller"></app-button>
    </div>
  </form>
</section>
